{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block content %}
<body style="background-color: cornsilk; ">
<div class="container" style="margin-top: 100px; border: 1px solid #65082b; border-radius: 15px; background-color: cornsilk; padding: 5px; width: 75%">

<!--<div class="container" style="margin-top: 1px; border: 1px solid #65082b; border-radius: 15px; background-color: cornsilk; padding: 5px; ">-->

<!--     <table class="table table-bordered      mx-auto">-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th scope="col">Bill Details</th>-->
<!--                <th scope="col">Served By</th>-->
<!--                <th scope="col">Table / Pax</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!-- {% for k in data1 %}-->
<!--            <tr  >-->
<!--                <td> {{ k.billdate }} &nbsp;- &nbsp; {{k.BillTime}} &nbsp; - &nbsp; {{billno}} </td>-->
<!--                <td> {{k.Wname}}</td>-->
<!--                <td> {{k.tableid}}  &nbsp;- &nbsp;{{k.packs}}  &nbsp;- &nbsp;  {{k.Packagemode}}</td>-->
<!--            </tr>-->
<!--{% if "Compliment" in k.remarks %}-->
<!--        <tr  >-->
<!--                <td colspan="3"> Remarks : {{k.remarks }} </td>-->

<!--            </tr>-->
<!-- {% endif %}-->
<!--        {% endfor %}-->
<!--        </tbody>-->
<!--    </table>-->

<!--</div>-->
<div class="container" style="margin-top: 10px; border: 1px solid #65082b; border-radius: 15px;  padding: 5px; width: 75% box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);background-color: cornsilk;">
     <table class="table table-bordered  mx-auto">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Payment Method</th>
                <th scope="col" class="text-end">Amount</th>
                <th scope="col" class="text-end">GoldWt</th>
                <th scope="col" class="text-end">Rate</th>

            </tr>
        </thead>
        <tbody>
           {% for k in sdata %}
            <tr  >
                <td> {{ forloop.counter }}</td>
                <td>{{ k.start_date }}</td>
                                <td>{{ k.transid }}</td>
                <td class="text-end">{{ k.amount }}</td>
                <td class="text-end">{{ k.goldweight }}</td>
                <td class="text-end">{{ k.goldrate }}</td>
            </tr>
            {% endfor %}





    </table>



</div>
</div>
</body>
{% endblock %}