
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--<div class="container" style="margin-top:150px">-->
<!-- {% for k in sdata %}-->
<!--    <h3>{{k.billdate}}</h3>-->
<!--{% endfor %}-->
<!--</div>-->


  <section class="hero-wrap " style="background-image: url('{% static 'images/bg_1.jpg' %}');"  data-stellar-background-ratio="0.3">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center">
          <div class="col-md-10 col-lg-7 ftco-animate d-flex align-items-end">
          	<div class="text">
	            <h1 class="mb-4">Allways <span>Glow</span> Apart</h1>
	            <p style="font-size: 18px;">From as low as $20 A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
	            <div class="d-flex meta">
		            <div class=""><p class="mb-0"><a href="#" class="btn btn-primary py-3 px-2 px-md-4">Explore Designs</a></p></div>
		            <a href="#" class="d-flex align-items-center button-link">
		            	<div class="button-video d-flex align-items-center justify-content-center">
			            	<span class="fa fa-play"></span>
			            </div>
			            <span>Watch our video</span>
		            </a>
		          </div>
            </div>
          </div>
        </div>
      </div>
    </section>





{% endblock %}
